colorama==0.3.7
Django==1.10.5
django-appconf==1.0.2
django-redis-cache==1.7.1
github3.py==0.9.3
mystarspilot==1.0.1
psycopg2==2.6.2
pyreadline==2.1
redis==2.10.5
requests==2.12.1
tinydb==3.2.1
uritemplate==3.0.0
uritemplate.py==3.0.2
virtualenv==15.1.0
