{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "estilos.css" %}" />
    <link rel="stylesheet" href="{% static "responsive.css" %}" />
    </head>


	<section id="contenido">
        <form method="post">
        <article class="item">
        <h4><b>{{especialidad.nombre}}{{extra.especialidad_ex.nombre}}</b></h4>
        <h4><b>&nbsp;&nbsp;{{articulo.cod_experto}}{{extra.articulo_ex.cod_experto}}&nbsp;-&nbsp;{{articulo.nombre}}{{extra.articulo_ex.nombre}}</b>
        <br>
        <br>
        <table>
        <thead>
            <tr> 
            <td>{% csrf_token %}
            {{form.as_p}}</td>
            <b>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class= "btn btn-primary" value="Enviar"></td>
        </thead>
        </tr>
        </table>

        <br>
        <br>
        </article>
        <form>
        </div>
    </section>


{% endblock%}
