{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
</head>
    <nav>
        <ul>
            <li id="flechita_nav"><a href="/"></a></li>
            
            <li id="publicar_nav"><a href="{% url "usuario:listar_esp" %}">Publicar</a></li>
        </ul>
    </nav>
    <aside id="bienvenida">
        {% if not request.user.is_authenticated %}
        {% else %}
            Hola {{request.user}}!
        {% endif %}
    </aside>
        {% load cache %}
        {% cache 6000 'pedidos_home' %}
    <section id="contenido">
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">ADMISION</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">ADMISION</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">AUX.ASEO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">AUX.ASEO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">BRONCOPULMONAR</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">CARDIOLOGIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">CLINICA Y TTO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">CURACION AVANZADA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">OLAYA PADILLA VARGAS</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped5.ped5}}">{{total_art5}}.</a>
            {% if pend5 %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped5.ped5}}">{{pend5}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped5.ped5}}">{{entre5}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if ped5 == total_art5 %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            {% if pend5 == total_art5 %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">DERMATOLOGIA/ FOTO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">DIABETES</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">CASTELLON</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">EDA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">YANDY ARANGUIZ</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art2}}.</a>
            {% if pend2 %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped2.ped2}}">{{pend2}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped2.ped2}}">{{entre2}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend2 == total_art2 %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">EEG</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">CONSULTA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">FIBROBRONCOSCOPIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">ANDREA DONOSO RIVERA</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped3.ped3}}">{{total_art3}}.</a>
            {% if pend3 %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped3.ped3}}">{{pend3}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped3.ped3}}">{{entre3}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art3 %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">NEUROLOGIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">OFTAMOLOGIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">OTORRINO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PAT. MAMARIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PAB. MENOR</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">SAMUEL PALMA ELVIA</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped4.ped4}}">{{total_art4}}.</a>
            {% if pend4 %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped4.ped4}}">{{pend4}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped4.ped4}}">{{entre4}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend4 == total_art4 %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">P. LUMBAR</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">POLI TACO</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PREPARACION A</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PREPARACION B</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PROG. HEPATITIS</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">PROG. VIH</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">RECUPERACION</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">RECUPERACION</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">SALA DAN</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">SALA DE INFORMES CONS</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">SALA INFORMES PROC</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">SECRETARIAS CAE</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">TMT</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">Andrea</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="{{ped.ped}}">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="{{ped.ped}}">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="{{ped.ped}}">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>
        <article class="item">
            <figure class="imagen_item">
                <a href="{% url 'usuario:listar_esp'  %}"><img src="/static/img/user.png" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">UROLOGIA</a>
            <br>
            <p class="autor_item">
            Por:<a class="titulo_item"  href="">ANDREA DONOSO RIVERA</a>
            <br>
            <br>
            Total Articulos: <a class="titulo_item"  href="">{{total_art}}.</a>
            {% if pend %}
            <font color="green">Solicitado: </font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend}}.</a>
            Articulos Entregados:<a class="titulo_item"  href="">{{entre}}.</a>
            {% else %}
            <br>
            <font color="red">No solicitado.</font>
            {% endif %}
            {% if pend == total_art %}
            <a href="{# url "usuario:aprobar_pedido" ped.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>
            <br>
            </h2>     
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>

            </p>    
            </p>
        </article>


    </section>{% endcache %}
    <footer>
        <p><strong>Powered by Demaro!</strong></p>
        <p>Grocer para HRR. 2017 ®</p>
    </footer>


</div>
{% endblock%}





