{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "estilos.css" %}" />
    <link rel="stylesheet" href="{% static "responsive.css" %}" />
</head>
<body>
    <section id="contenido">
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            {% if count == 0  %}
               {% if acceso  %}
            <a class="tag_item" href="{% url "usuario:open" %}""><img src="/static/img/open.png" width="100" height="100px"  /></a>
            {% endif %}
               {% else %}
            {% if count2 == 0  %}
            <a class="tag_item" href="{% url "usuario:close" %}""><img src="/static/img/close.png" width="100" height="100px"  /></a>
               {% endif %}
            {% endif %}
    {% endif %}
            </figure>
            <p class="datos_item">
            <a class="tag_item" href=""><b>ADMINISTRADOR</b></a>
            <br>
            <p class="autor_item">
            PDF BODEGAS: CANTIDAD TOTAL DE ESPECIALIDADES
            <br>
            <a class="titulo_item" href="{% url "usuario:reporte_insumo_pdf"  %}">INSUMO</a>
            <a class="titulo_item" href="{% url "usuario:reporte_farma_pdf"  %}">FARMACIA</a>
            <a class="titulo_item" href="{% url "usuario:reporte_econo_pdf"  %}">ECONOMATO</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url "usuario:reset" %}" method='GET' type="submit" class="btn btn-danger pull-right" value="reset" onclick="document.location.reload();"/>Resetear</a>
            <br>
            <h5><b><a href="{% url "usuario:esp_total"  %}">Especialidades: {{ count3 }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url "usuario:home"  %}">Pedidos Pendientes: {{ count }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url "usuario:ped_entre"  %}">Pedidos Entregados: {{ count2 }}</a></b></h5>


        </article>

    <section id="contenido">
        {% if especialidad %}
        
        {% for esp in especialidad %}
        
    <article class="item">
            <b>
            <figure class="imagen_item">
                <a href="{% url "usuario:lita_todo" id_especialidad=esp.id %}"><img src="/static/img/user.png" width="1000" height="135px"  /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_especialidad=esp.id %}">{{esp.nombre}}</a>
            </p>
            <a class="titulo_item" href=""><h5>{{esp.encargado.nombre}}</a></h5></p>
           </p>
            {% if esp.acceso == 0 %}
            <p class="autor_item">
            {% endif %}
            {% if esp.estado == "entregado" %}
            <font color="blue"><h4><b>Pedido Entregado</b></h4></font>
            {% endif %}
            {% if esp.estado == "completado" %}
            <font color="red"><h4><b>Pedido sin solicitar.</b></h4></font>
            {% endif %}
            {% if esp.estado == "pendiente" %}
            <font color="green"><h4><b>Pedido Pendiente!</b></h4></font>
            {% endif %}
            <a href="{% url "usuario:ver_todo" id_especialidad=esp.id %}" method='GET' type="submit" class="btn btn-primary pull-right"/>Ver Todo</a>
            </p>   
            <p class="autor_item">
            
            </p>                   
            <a class="guardar_item" href="#"></a>

        </article>
        {% endfor %}
        
        {% else %}
            NO HAY SOLICITUDES.
        {% endif %}
            </b>
    </section>
    </div>
    </body>

{% endblock %}





