{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
</head>
    <nav>
        <ul>
            <li id="flechita_nav"><a href="/"></a></li>
            
            <li id="publicar_nav"><a href="">Solicitar</a></li>
        </ul>
    </nav>
    <aside id="bienvenida">
        {% if not request.user.is_authenticated %}  
        {% else %}
            Hola {{request.user}}!
        {% endif %}
    </aside>
        {% load cache %}  
        {% cache 6000 'pedidos_home' %} 
    <section id="contenido">
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a class="tag_item" href=""><img src="/static/img/pdf.png" width="100" height="100px"  /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="">REPORTE PDF</a>
            <p class="autor_item">
            <br>
            TOTAL CANTIDADES SOLICITADAS POR ESPECIALIDADES
            <a class="titulo_item" href="{% url "usuario:reporte_insumo_pdf"  %}">INSUMO</a>
            <a class="titulo_item" href="">FARMACIA</a>
            <a class="titulo_item" href="">ECONOMATO</a></p>

        </article>
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_admiproc.id %}" method="GET" ><img src="/static/img/user.png" width="1000" height="135px"  /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_admiproc.id %}">ADMISION.PROC</a>
            </p>
            <a class="titulo_item" href=""><h5>PATRICIO ROJAS</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art15}}.</a>
            {% if pend15 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre15}}</a>                   
            {% if total_art15 == entre15 %}
            <a href="{% url "usuario:completar" id_especialidad=id_admiproc.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_admicons.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_admicons.id %}">ADMISION.CONS</a>
            </p>
            <a class="titulo_item" href=""><h5>PAOLA PRIETO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art28}}.</a>
            {% if pend28 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend28}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre28}}</a>                    
            {% if total_art28 == entre28 %}
            <a href="{% url "usuario:completar" id_especialidad=id_admicons.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_aseocon.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_aseocon.id %}">AUX.ASEO CONS</a>
            </p>
            <a class="titulo_item" href=""><h5>ANDREA DONOSO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art34}}.</a>
            {% if pend34 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend34}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre34}}</a>                    
            {% if total_art34 == entre34 %}
            <a href="{% url "usuario:completar" id_especialidad=id_aseocon.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_aseop.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_aseop.id %}">AUX.ASEO PROC</a>
            </p>
            <a class="titulo_item" href=""><h5>ANDREA DONOSO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art20}}.</a>
            {% if pend20 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend20}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre20}}</a>                    
            {% if total_art20 == entre20 %}
            <a href="{% url "usuario:completar" id_especialidad=id_aseop.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_derma.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_derma.id %}">DERMATOLOGIA/ FOTO</a>
            </p>
            <a class="titulo_item" href=""><h5>SAMUEL PALMA</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art21}}.</a>
            {% if pend21 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend21}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre21}}</a>                    
            {% if total_art21 == entre21 %}
            <a href="{% url "usuario:completar" id_especialidad=id_derma.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_sdan.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_sdan.id %}">SALA DAN</a>
            </p>
            <a class="titulo_item" href=""><h5>YANDY ARANGUIZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art18}}.</a>
            {% if pend18 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend18}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre18}}</a>                    
            {% if total_art18 == entre18 %}
            <a href="{% url "usuario:completar" id_especialidad=id_sdan.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_caste.id  %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_caste.id %}">DRA. CASTELLON</a>
            </p>
            <a class="titulo_item" href=""><h5>GISELLE CASTELLON DIAZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art32}}.</a>
            {% if pend32 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend32}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre32}}</a>                    
            {% if total_art32 == entre32 %}
            <a href="{% url "usuario:completar" id_especialidad=id_caste.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    <article class="item">
    {% if request.user.is_superuser %}
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_diab.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_diab.id %}">DIABETES</a>
            </p>
            <a class="titulo_item" href=""><h5>PATRICIA ALBORNOZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art24}}.</a>
            {% if pend24 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend24}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre24}}</a>                    
            {% if total_art24 == entre24 %}
            <a href="{% url "usuario:completar" id_especialidad=id_diab.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_enfp.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_enfp.id %}">ESTACION ENF. PROC</a>
            </p>
            <a class="titulo_item" href=""><h5>PATRICIA ALBORNOZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art23}}.</a>
            {% if pend23 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend23}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre23}}</a>                    
            {% if total_art23 == entre23 %}
            <a href="{% url "usuario:completar" id_especialidad=id_enfp.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_hepa.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_hepa.id %}">PROG.HEPATITIS</a>
            </p>
            <a class="titulo_item" href=""><h5>PAOLA PRIETO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art26}}.</a>
            {% if pend26 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend26}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre26}}</a>                    
            {% if total_art26 == entre26 %}
            <a href="{% url "usuario:completar" id_especialidad=id_hepa.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_vih.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_vih.id %}">PROG. VIH</a>
            </p>
            <a class="titulo_item" href=""><h5>CLAUDIA SALAZAR</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art25}}.</a>
            {% if pend25 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend25}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre25}}</a>                    
            {% if total_art25 == entre25 %}
            <a href="{% url "usuario:completar" id_especialidad=id_vih.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_taco.id  %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_taco.id %}">POLI.TACO</a>
            </p>
            <a class="titulo_item" href=""><h5>VALENTINA BELL</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art22}}.</a>
            {% if pend22 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend22}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre22}}</a>                    
            {% if total_art22 == entre22 %}
            <a href="{% url "usuario:completar" id_especialidad=id_taco.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_prea.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_prea.id %}">PREPARACION A</a>
            </p>
            <a class="titulo_item" href=""><h5>PAOLA PRIETO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art30}}.</a>
            {% if pend30 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend30}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre30}}</a>                    
            {% if total_art30 == entre30 %}
            <a href="{% url "usuario:completar" id_especialidad=id_prea.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_preb.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_preb.id %}">PREPARACION B</a>
            </p>
            <a class="titulo_item" href=""><h5>PAOLA PRIETO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art31}}.</a>
            {% if pend31 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend31}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre31}}</a>                    
            {% if total_art31 == entre31 %}
            <a href="{% url "usuario:completar" id_especialidad=id_preb.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_recu.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_recu.id %}">RECUPERACION</a>
            </p>
            <a class="titulo_item" href=""><h5>YANDY ARANGUIZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art19}}.</a>
            {% if pend19 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend19}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre19}}</a>                    
            {% if total_art19 == entre19 %}
            <a href="{% url "usuario:completar" id_especialidad=id_recu.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_tmt.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_tmt.id %}">TRAUMATOLOGIA</a>
            </p>
            <a class="titulo_item" href=""><h5>NICOLE LIPAN</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art13}}.</a>
            {% if pend13 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend13}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre13}}</a>                    
            {% if total_art13 == entre13 %}
            <a href="{% url "usuario:completar" id_especialidad=id_tmt.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_salac.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_salac.id %}">SALA INFORMES CONS.</a>
            </p>
            <a class="titulo_item" href=""><h5>PAOLA PRIETO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art27}}.</a>
            {% if pend27 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend27}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre27}}</a>                    
            {% if total_art27 == entre27 %}
            <a href="{% url "usuario:completar" id_especialidad=id_salac.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_salaproc.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_salaproc.id %}">SALA INFORMES PROC.</a>
            </p>
            <a class="titulo_item" href=""><h5>ANDREA DONOSO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art14}}.</a>
            {% if pend14 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend14}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre14}}</a>                    
            {% if total_art14 == entre14 %}
            <a href="{% url "usuario:completar" id_especialidad=id_salaproc.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_bronco.id %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_bronco.id %}">BRONCOPULMONAR</a>
            </p>
            <a class="titulo_item" href=""><h5>FERNANDA AVENDAÑO</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art12}}.</a>
            {% if pend12 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend12}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre12}}</a>                    
            {% if total_art12 == entre12 %}
            <a href="{% url "usuario:completar" id_especialidad=id_bronco.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_neuro.id  %}"><img src="/static/img/user.png" width="1000" height="135px" method="GET" /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_neuro.id %}">NEUROLOGIA</a>
            </p>
            <a class="titulo_item" href=""><h5>NICOLE LIPAN</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art16}}.</a>
            {% if pend16 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend16}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre16}}</a>                    
            {% if total_art16 == entre16 %}
            <a href="{% url "usuario:completar" id_especialidad=id_neuro.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_egg.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_egg.id %}">EEG</a>
            </p>
            <a class="titulo_item" href=""><h5>NICOLE LIPAN</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art11}}.</a>
            {% if pend11 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend11}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre11}}</a>                    
            {% if total_art11 == entre11 %}
            <a href="{% url "usuario:completar" id_especialidad=id_egg.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_lumbar.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_lumbar.id %}">P. LUMBAR</a>
            </p>
            <a class="titulo_item" href=""><h5>NICOLE LIPAN</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art10}}.</a>
            {% if pend10 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend10}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre10}}</a>                    
            {% if total_art10 == entre10 %}
            <a href="{% url "usuario:completar" id_especialidad=id_lumbar.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_mama.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_mama.id %}">PAT.MAMARIA</a>
            </p>
            <a class="titulo_item" href=""><h5>PAULA GONZALEZ</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art29}}.</a>
            {% if pend29 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend29}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre29}}</a>                    
            {% if total_art29 == entre29 %}
            <a href="{% url "usuario:completar" id_especialidad=id_mama.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_oftal.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_oftal.id %}">OFTAMOLOGIA</a>
            </p>
            <a class="titulo_item" href=""><h5>NATALIA ORDENES</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art9}}.</a>
            {% if pend9 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend9}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre9}}</a>                    
            {% if total_art9 == entre9 %}
            <a href="{% url "usuario:completar" id_especialidad=id_oftal.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_otto.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_otto.id %}">OTORRINO</a>
            </p>
            <a class="titulo_item" href=""><h5>OLAYA PADILLA</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art8}}.</a>
            {% if pend8 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend8}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre8}}</a>                    
            {% if total_art8 == entre8 %}
            <a href="{% url "usuario:completar" id_especialidad=id_otto.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_cardio.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_cardio.id %}">CARDIOLOGIA</a>
            </p>
            <a class="titulo_item" href=""><h5>VANESSA MARCHANT</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art7}}.</a>
            {% if pend7 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend7}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre7}}</a>                    
            {% if total_art7 == entre7 %}
            <a href="{% url "usuario:completar" id_especialidad=id_cardio.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_clinitt.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_clinitt.id %}">CLINICA Y TTO</a>
            </p>
            <a class="titulo_item" href=""><h5>FRANSISCA MORAGA</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art6}}.</a>
            {% if pend6 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend6}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre6}}</a>                    
            {% if total_art6 == entre6 %}
            <a href="{% url "usuario:completar" id_especialidad=id_clinitt.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_curav.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_curav.id %}">CURACION AVANZADA</a>
            </p>
            <a class="titulo_item" href=""><h5>OLAYA PADILLA </a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art5}}.</a>
            {% if pend5 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend5}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre5}}</a>                    
            {% if total_art5 == entre5 %}
            <a href="{% url "usuario:completar" id_especialidad=id_curav.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
    <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_pabm.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_pabm.id %}">PAB. MENOR</a>
            </p>
            <a class="titulo_item" href=""><h5>SAMUEL PALMA</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art4}}.</a>
            {% if pend4 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend4}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre4}}</a>                    
            {% if total_art4 == entre4 %}
            <a href="{% url "usuario:completar" id_especialidad=id_pabm.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
        <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_fibro.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_fibro.id %}">FIBROBRONCOSCOPIA</a>
            </p>
            <a class="titulo_item" href=""><h5>ANDREA DONOSO</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art3}}.</a>
            {% if pend3 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend3}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre3}}</a>                    
            {% if total_art3 == entre3 %}
            <a href="{% url "usuario:completar" id_especialidad=id_fibro.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
        <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_eda.id  %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_eda.id %}">EDA</a>
            </p>
            <a class="titulo_item" href=""><h5>YANDY ARANGUIZ</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art2}}.</a>
            {% if pend2 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend2}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre2}}</a>                    
            {% if total_art2 == entre2 %}
            <a href="{% url "usuario:completar" id_especialidad=id_eda.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}

            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
        <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_secre.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_secre.id %}">SECRETARIAS.CAE</a>
            </p>
            <a class="titulo_item" href=""><h5>RUTH ALARCON</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art33}}.</a>
            {% if pend33 > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend33}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre33}}</a>                    
            {% if total_art33 == entre33 %}
            <a href="{% url "usuario:completar" id_especialidad=id_secre.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>
    {% if request.user.is_superuser %}
        <article class="item">
            <figure class="imagen_item">
            <a href="{% url "usuario:lita_todo" id_urolo.id %}"><img src="/static/img/user.png" width="1000" height="135px"/></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_todo" id_urolo.id %}">UROLOGIA</a>
            </p>
            <a class="titulo_item" href=""><h5>ANDREA DONOSO</a></h5></p> 
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art}}.</a>
            {% if pend > 0 %}
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend}}.</a>
            {% endif %}
            Articulos Entregados:<a class="titulo_item"  href="">{{entre}}</a>                    
            {% if total_art == entre %}
            <a href="{% url "usuario:completar" id_especialidad=id_urolo.id  %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Completar</a>
            {% endif %}
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}
    {% endif %}
        </article>

    </section>{% endcache %}
    <footer>
        <p><strong>Powered by Demaro!</strong></p>
        <p>SUPPLY for HRR. 2017 ®</p>
    </footer>


</div>
{% endblock%}





