{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "estilos.css" %}" />
    <link rel="stylesheet" href="{% static "responsive.css" %}" />
</head>

    <section id="contenido">
        {% if especialidad %}

        {% for esp in especialidad %}
        
    <article class="item">
            <figure class="imagen_item">
                <a href="{% url "usuario:lita_active" id_especialidad=esp.id %}"><img src="/static/img/user.png" width="1000" height="135px"  /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="{% url "usuario:lita_active" id_especialidad=esp.id %}">{{esp.nombre}}</a>
            </p>
            <a class="titulo_item" href=""><h5>{{esp.encargado.nombre}}</a></h5></p>
           </p>
            {% if esp.acceso == 0 %}
            <p class="autor_item">
            <a href="{% url "usuario:vista_extra" id_especialidad=esp.id  %}" method='GET' type="submit" class="btn btn-danger pull-right" value="editar" onclick="document.location.reload();"/>Extra</a>
            {% endif %}
            {% if esp.estado == "entregado" %}
            <font color="green"><h4>Entregado!</h4></font>
            {% endif %}
            {% if esp.estado == "completado" %}
            <font color="red"><h4>Solicite pedido semanal.</h4></font>
            {% endif %}
            {% if esp.estado == "pendiente" %}
            <font color="blue"><h4>Pendiente</h4></font>
            {% endif %}
            </p>   
            <p class="autor_item">

            
            </p>                   
            <a class="guardar_item" href="#"></a>

        </article>
        {% endfor %}
        {% else %}
            NO HAY ENLACES GUARDADOS Agregalo!
        {% endif %}
    </section>{% endcache %}
    <footer>
        <p><strong>Powered by Demaro!</strong></p>
        <p>S.G.I for HRR. 2017 ®</p>
    </footer>


</div>
{% endblock %}





