{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
</head>
    <nav>
        <ul>
            <li id="flechita_nav"><a href="/"></a></li>
            
            <li id="publicar_nav"><a href="{% url "usuario:listar_esp" %}">Publicar</a></li>
        </ul>
    </nav>
    <aside id="bienvenida">
        {% if not request.user.is_authenticated %}  
        {% else %}
            Hola {{request.user}}!
        {% endif %}
    </aside>
        {% load cache %}  
        {% cache 6000 'pedidos_home' %}
    </aside>
    <section id="contenido">
        {% if especialidad %}
        
        {% for esp in especialidad %}
        <article class="item">
            <figure class="imagen_item">
                <img src="imagen.jpg" />
            </figure>
            <h2 class="titulo_item">
                <a href="{{enlace.enlace}}">{{esp.nombre}}</a>
            </h2>
            <p class="autor_item">
                Por <a href="#">{{enlace.usuario}}</a>
            </p>
            <p class="datos_item">
                <a class="tag_item" href="#">{{enlace.categoria}}</a>
                <span class="fecha_item">Hace <strong>{{enlace.timestamp|timesince}}</strong> min</span>
                <a class="guardar_item" href="#"></a>
            </p>
            <p class="votacion">
                <a class="up" href=""></a>
                {{enlace.votos}}
                <a class="down" href=""></a>
            </p>
        </article>
        {% endfor %}
        {% else %}
            NO HAY ENLACES GUARDADOS Agregalo!
        {% endif %}
    </section>{% endcache %}
    <footer>
        <p><strong>Powered by Demaro!</strong></p>
        <p>SUPPLY for HRR. 2017 ®</p>
    </footer>


</div>
{% endblock %}





