{% extends 'base/base.html' %}

{% block content %}
<!-- comentario de lo que sea -->
{% load static from staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
</head>
    <nav>
        <ul>
            <li id="flechita_nav"><a href="/"></a></li>
            
            <li id="publicar_nav"><a href="{% url "usuario:listar_esp" %}">Publicar</a></li>
        </ul>
    </nav>
    <aside id="bienvenida">
        {% if not request.user.is_authenticated %}  
        {% else %}
            Hola {{request.user}}!
        {% endif %}
    </aside>
        {% load cache %}  
        {% cache 6000 'pedidos_home' %}
    </aside>
    <section id="contenido">
        {% if especialidad %}
        
        {% for esp in especialidad %}
    <article class="item">
            <figure class="imagen_item">
                <a href="{# url 'usuario:listar_esp' esp.id %}" method="GET"><img src="/static/img/user.png" width="1000" height="135px"  /></a>
            </figure>
            <p class="datos_item">
            <a class="tag_item" href="#">{{esp.nombre}}</a>
            </p>
            <a class="titulo_item" href=""><h5>{{esp.encargado.nombre}}</a></h5></p>
            <p class="autor_item">
            Total Articulos: <a class="titulo_item"  href="">{{total_art21}}.</a>
            <font color="green"><h4>Solicitado!</h4></font>
            Articulos Pendientes:<a class="titulo_item"  href="">{{pend21}}.</a>
            Articulos Aprobados:<a class="titulo_item"  href="">{{entre21}}</a>                    
            <a href="{% url "usuario:listar_esp" esp.id %}" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Solicitar</a>
            </p>   
            <p class="autor_item">
            </p>                   
            <a class="guardar_item" href="#"></a>
            {% if pedido %}
            <span class="fecha_item">Fecha solicitud:<strong>{{pedido.fecha_pedido}}</strong></span>
            {% endif %}

        </article>
        {% endfor %}
        {% else %}
            NO HAY ENLACES GUARDADOS Agregalo!
        {% endif %}
    </section>{% endcache %}
    <footer>
        <p><strong>Powered by Demaro!</strong></p>
        <p>SUPPLY for HRR. 2017 ®</p>
    </footer>


</div>
{% endblock %}





