{% extends 'base/base.html' %}

{% block title %}
S.G.I Login
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
<!-- comentario de lo que sea -->
        <meta name="viewport" 
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Puls3: Comunidad online de gente pro y (no sé que más escribir)</title>
   {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "estilos2.css" %}" />
    <link rel="stylesheet" href="{% static "responsive.css" %}" />
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="login-page">
  <div class="form">
    <form class="register-form" method="post">
{% csrf_token %}
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>

{% endblock %}