{% extends 'base/base.html' %}

{% block title %}
SUPPLY Login
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
<!-- comentario de lo que sea -->
        <meta name="viewport" 
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Puls3: Comunidad online de gente pro y (no sé que más escribir)</title>
   {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "css/estilos2.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login">
                <input type="text" placeholder="Usuario" />
                <input type="password" placeholder="contraseña" />
                <input type="submit" value="Ingresar" class="btn btn-success btn-sm" />
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input value="1" type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">Posted By: <a href="http://www.jquery2dotnet.com">Bhaumik Patel</a></div>
</div>


{% endblock %}